@import url("styles/variables.css");
@import url("styles/latout.css");
@import url("styles/main_about.css");
@import url("styles/main_services.css");

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-texto);
}
