.section-about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* articulo 1*/
/* contenedor padre*/
.section-about__article--reverse {
  width: 70%;
  height: 30rem;
  margin: 5rem auto;
  gap: 2rem;
}

.section-about__article {
  display: flex;
  flex-direction: row;
}

/* contenedor imagen*/
.section-about__image-container {
  width: 35%;
}

.section-about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* contenedor contenido*/
.section-about__content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  background-color: var(--color-tarjeta);
  padding: 1rem;
}

.section-about__title {
  color: var(--color-secundario);
  font-size: 2rem;
}

.section-about__text {
  font-size: 1.1rem;
  width: 75%;
  margin: 0 auto;
}

/* articulo 1 termina aca*/

/* articulo 2*/

.section-about__article-2 {
  height: 40rem;
  background-color: var(--color-primario);
}

.section-about__content-2 {
  width: 50%;
  height: 100%;

  padding: 4rem;
  align-content: center;
  align-self: center;
  align-items: center;
}

.section-about__content-son {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 75%;
  margin: 0 auto;
}

.section-about__image-container-2 {
  width: 50%;
  height: 100%;
}

.section-about__image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section-about__title-2 {
  color: var(--color-tarjeta);
  font-size: 2rem;
}

.section-about__text-2 {
  font-size: 1.1rem;
  margin: 0 auto;
  color: var(--color-tarjeta);
}
